@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    overflow-x: hidden;
}

#pageone{
    align-items: center;
    text-align: center;
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 669px; 
} 
#pageoneoverlay{
    background-color: black;
    height: 669px; 
    opacity: 0.7;
}

#mouseclick{
    position: relative;
    top: 45%;
    animation: bounce 2s infinite;
} 

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
}

#pageonecontent{
    color: white;
    position: relative;
    top:28%;
}

#pageonecontent h1{
    font-size: 36px;
    margin: 3% 0%;
    width: 100%;
}

#pagetwo{
    text-align: center;
    
}

#aboutus{
    margin: 6%;
    line-height: 42px;
    
}

#aboutus p{
    font-family: 'Montserrat', sans-serif;
}

#services{
    color: white;
    
    width: 100%;
    line-height: 42px;
    background-image: url(../assets/backgrounds/s_image.jpg);
}

#services p{
    font-family: 'Montserrat', sans-serif;
}

#pagethree{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

#pagethree h2{
    margin-bottom: 4%;
}
#portfolio{
    width: 80%;
    margin: 10%;
}
#portfolio h2{
    padding-bottom: 1%;
}
.row{
    margin-bottom: 3%;
    width: 100%;
    justify-content: space-between;
}
.col-2{
    justify-content: space-around;
    padding: 0;
    margin: 0;
    position: relative;
    height: 200px;
    
}

#pagefour{
    text-align: center;
    color: white;
    background-image: url(../assets/backgrounds/c_image.jpg);
}

input{
    color: white;   
    background-color: black;
    opacity: 0.5;
    border: 1px solid white;
    border-radius: 5px;
    width: 85%;
    margin-top: 5%;
    margin-left: 5%;
}

textarea{
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    width: 55%;
    background-color: black;
    opacity: 0.5;
    margin-bottom: 5%;
    position: relative;
    left: 3%;
}

.form{
    justify-content: center ;
}


#pagefour h2{
    padding-top: 4%;
}

footer{
    text-align: center;
    margin-top: 2%;
}

#design{
    display: none;
}

#development{
    display: none;
}

#product{
    display: none;
}
.whitesquare{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    opacity: 0;
    font-family: 'Lobster', cursive;
    font-size: 29px;
    border: 2px solid black;
}

.whitesquare p{
    border: 4px solid white;
    width: 80%;
    margin: 10% 10%;
    height: 150px;
    padding :12% 5%;

    
}


.whitesquare:hover{
    opacity: 0.7;
}

#servicesoverlay{
    background-color: black;
    width: 100%;
    padding: 7% 15%;
    opacity: 0.8;
}


#work1{
    
    width: 10px;
    background-image: url(../assets/portfolio/work1.jpg);
    background-size: cover;
}

#work2{
    background-image: url(../assets/portfolio/work2.jpg);
}

#work3{
    background-image: url(../assets/portfolio/work3.jpg);
}

#work4{
    background-image: url(../assets/portfolio/work4.jpg);
}

#work5{
    background-image: url(../assets/portfolio/work5.jpg);
}

#work6{
    background-image: url(../assets/portfolio/work6.jpg);
}

#work7{
    background-image: url(../assets/portfolio/work7.jpg);
}

#work8{
    background-image: url(../assets/portfolio/work8.jpg);
}

.col-2{
    background-size: cover;
}

.whatwedo{
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
    text-align: center;
}

button{
    border-radius: 15px;
    width: 8%;
    position: relative;
    right: 29%;
    bottom: 25px;
}