*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    overflow-x: hidden;
}

#pageone{
    align-items: center;
    text-align: center;
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 669px; 
} 

#mouseclick{
    position: relative;
    top: 45%;
} 

#pageonecontent{
    color: white;
    position: relative;
    top:28%;
}

#pageonecontent h1{
    font-size: 36px;
    margin: 3% 0%;
    width: 100%;
}

#pagetwo{
    text-align: center;
    
}

#aboutus{
    margin: 6%;
    line-height: 42px;
}

#services{
    color: white;
    padding: 7% 15%;
    width: 100%;
    line-height: 42px;
    background-image: url(../assets/backgrounds/s_image.jpg);
}

#pagethree{
    width: 100%;
    text-align: center;
    align-items: center;
}
#portfolio{
    width: 85%;
    margin: 12%;
}
#portfolio h2{
    padding-bottom: 5%;
}
.row{
    margin-bottom: 3%;
    width: 100%;
    justify-content: center;
}
.col-3{
    padding: 0;
    position: relative;
    left: 3%;
}
.col-3 img{
    margin-right: 0;
    width: 80%;
    
}

#pagefour{
    text-align: center;
    color: white;
    background-image: url(../assets/backgrounds/c_image.jpg);
}

input{
    
    background-color: black;
    opacity: 0.7;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    margin-top: 5%;
}

textarea{
    border-radius: 5px;
    background-color: black;
    opacity: 0.7;
    border: 1px solid white;
    width: 55%;
}

.form{
    justify-content: center ;
}


#pagefour h2{
    padding-top: 4%;
}

footer{
    text-align: center;
    margin-top: 2%;
}

#design{
    display: none;
}

#development{
    display: none;
}

#product{
    display: none;
}
.whitesquare{
    width: 100%;
    height: 180px;
    background-color: black;
    opacity: 0.5;
    

}
#work1{
    
    width: 50%;
    background-image: url(../assets/portfolio/work1.jpg);
    background-size: cover;
}

#work2{
    background-image: url(../assets/portfolio/work2.jpg);
}

#work3{
    background-image: url(../assets/portfolio/work3.jpg);
}

#work4{
    background-image: url(../assets/portfolio/work4.jpg);
}

#work5{
    background-image: url(../assets/portfolio/work5.jpg);
}

#work6{
    background-image: url(../assets/portfolio/work6.jpg);
}

#work7{
    background-image: url(../assets/portfolio/work7.jpg);
}

#work8{
    background-image: url(../assets/portfolio/work8.jpg);
}
